<div class="login" *ngIf="!isLoggedIn">
  <div class="credentials">
    <label for="email">Email:</label>
    <input type="text" [(ngModel)]="email" />
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="password" />
  </div>
  <button (click)="login()">Login</button>
</div>
<div class="main" *ngIf="isLoggedIn">
  <button (click)="logout()">Logout</button>
  <hr />
  <!-- Main content goes here -->
  <div *ngIf="tab == 'main'">
    <div *ngFor="let product of products">
      <table style="width: 100%; border-collapse: collapse">
        <tr>
          <th style="text-align: left; padding: 8px; border: 1px solid #ddd">
            Field
          </th>
          <th
            style="
              text-align: left;
              padding: 8px;
              border: 1px solid #ddd;
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <span>Value</span>
            <button (click)="openDetails(product.ID)" style="margin-left: auto">
              Open Details
            </button>
          </th>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">ID</td>
          <td style="padding: 8px; border: 1px solid #ddd">{{ product.ID }}</td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Name</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.name }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Description</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.description }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Quantity</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.quantity }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Sub Total</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.sub_total | currency }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Margin Amount</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.margin_amount | currency }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">
            Margin Percentage
          </td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.margin_percentage }}%
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Material Cost</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.material_cost | currency }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Material Items</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.material_items }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Equipment Cost</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.equipment_cost | currency }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Labour Amount</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.labour_amount | currency }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">
            Labour Percentage
          </td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.labour_percentage }}%
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Other Amount</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.other_amount | currency }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Other Percentage</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.other_percentage }}%
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Waste Amount</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.waste_amount | currency }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Waste Percentage</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.waste_percentage }}%
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Created At</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.createdAt }}
          </td>
        </tr>
        <tr>
          <td style="padding: 8px; border: 1px solid #ddd">Updated At</td>
          <td style="padding: 8px; border: 1px solid #ddd">
            {{ product.updatedAt }}
          </td>
        </tr>
      </table>
      <br />
      <!-- Space between tables for different products -->
    </div>
  </div>

  <div *ngIf="tab === 'details' && productMaterial.length > 0">
    <h2>Product Material</h2>
    <table style="width: 100%; border-collapse: collapse">
      <tr>
        <th style="text-align: left; padding: 8px; border: 1px solid #ddd">
          Field
        </th>
        <th style="text-align: left; padding: 8px; border: 1px solid #ddd">
          Value
        </th>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">ID</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0]._id }}
        </td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">Product ID</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0].product_id }}
        </td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">Description</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0].description }}
        </td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">Quantity</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0].quantity }}
        </td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">Rate</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0].rate }}
        </td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">Amount</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0].amount }}
        </td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">Created At</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0].createdAt }}
        </td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">Updated At</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0].updatedAt }}
        </td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">Deleted</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0].deletedAt }}
        </td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">Delete Flag</td>
        <td style="padding: 8px; border: 1px solid #ddd">
          {{ productMaterial[0].delete }}
        </td>
      </tr>
    </table>
    <br /><button (click)="tab = 'main'">back to products</button>
  </div>
</div>
